<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <a class="navbar-brand" href="#">KickerAPP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
        </li>
        <div ngbDropdown class="d-inline-block nav-item">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle>
            Gebruiker
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a class="nav-item nav-link" *ngFor="let item of navUser" [routerLink]="[item.link]" ngbDropdownItem>
              {{item.title}}
            </a>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block nav-item">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle>
            Kapitein
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a class="nav-item nav-link" *ngFor="let item of navCaptain" [routerLink]="[item.link]" ngbDropdownItem>
              {{item.title}}
            </a>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block nav-item">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle>
            Admin
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown">
            <a class="nav-item nav-link" *ngFor="let item of navAdmin" [routerLink]="[item.link]" ngbDropdownItem>
              {{item.title}}
            </a>
          </div>
        </div>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0 mr-2" type="submit">Search</button>
      </form>
      <div style="float: right; display: flex" *ngIf="!user">
        <a class="nav-item nav-link" [routerLink]="['/register']">Registreren</a>
        <a class="nav-item nav-link" [routerLink]="['/login']">Aanmelden</a>
      </div>
      <div style="float: right; display: flex" *ngIf="user">
        <h3 class="mr-2">welkom {{user.firstName}}</h3>
        <img *ngIf="this.imageUrl" [src]="this.imageUrl" class="avatar">
        <a class="nav-item nav-link" (click)="logout()">Uitloggen</a>
      </div>
    </div>
  </nav>
