<div class="card">
  <h4 class="card-header">Nieuwe tafel aanmaken</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="tablename">Naam</label>
        <input type="text" formControlName="name" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Tablename is required</div>
        </div>
      </div>
      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="startdatePicker" [min]="date">
          <mat-datepicker-toggle [for]="startdatePicker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #startdatePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-form-field >
        <mat-label>Angular forms</mat-label>
        <input matInput [matDatepicker]="picker1" [formControl]="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Aanmaken
        </button>
      </div>

    </form>
</div>
</div>
