<div class="card">
  {{model | json }}
  <h4 class="card-header">Nieuwe tafel aanmaken</h4>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="model.name" name="name">


      <div class="input-group">

        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="startdate" ngbDatepicker #d="ngbDatepicker">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">📅</button>
        </div>

      </div>

      <div class="input-group">

        <input class="form-control" placeholder="yyyy-mm-dd" name="enddate" [(ngModel)]="enddate" ngbDatepicker #e="ngbDatepicker">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="e.toggle()" type="button">📅</button>
        </div>

      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Competition</mat-label>
          <mat-select [(value)]="model.competitionID">
            <mat-option *ngFor="let competition of competitions" value={{competition.competitionID}}>{{competition.name}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Aanmaken
        </button>
      </div>

    </form>
</div>
</div>
<p>TODO: Fix dieje layout!</p>
<h1>{{startdate}}</h1>
