<div class="card">
  <h4 class="card-header">Nieuwe tafel aanmaken</h4>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()">

      <div class="input-group form-group">
        <label for="name">Naam</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name" #nameControl="ngModel">

      </div>


      <div class="input-group form-group" >

        <input class="form-control" required  name="dp" [(ngModel)]="startdate" ngbDatepicker #d="ngbDatepicker" [disabled]="startDisabled">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button" [disabled]="startDisabled">📅</button>
        </div>

      </div>

      <div class="input-group form-group" [disabled]="endDisabled">

        <input required class="form-control"  name="enddate" [(ngModel)]="enddate" ngbDatepicker #e="ngbDatepicker" [disabled]="endDisabled">

        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="e.toggle()" type="button" [disabled]="endDisabled">📅</button>
        </div>


      </div>

      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Competition</mat-label>
          <mat-select [(value)]="model.competitionID">
            <mat-option *ngFor="let competition of competitions" value={{model.competitionID}}>{{competition.name}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Aanmaken
        </button>
      </div>

    </form>
  </div>
</div>
<p>TODO: Fix dieje layout!</p>
