<div class="card">
  <h4 class="card-header">Nieuwe tafel aanmaken</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="tablename">Tafelnaam</label>
        <input type="text" formControlName="tablename" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.tablename.errors }" />
        <div *ngIf="submitted && f.tablename.errors" class="invalid-feedback">
          <div *ngIf="f.tablename.errors.required">Tablename is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="companyname">Bedrijfsnaam</label>
        <input type="text" formControlName="companyname" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }" />
        <div *ngIf="submitted && f.companyname.errors" class="invalid-feedback">
          <div *ngIf="f.companyname.errors.required">Companyname is required</div>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Aanmaken
        </button>
      </div>

    </form>
  </div>
</div>
