<div class="container mt-5">
  <h1>Manage Competitions</h1>

  <div class="search">

  </div>

  <button class="btn btn-primary mb-2" routerLink="/add-competition" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Add Competition
  </button>

  <table class="table table-striped table-hover">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Winner</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let competition of competitions">
        <td>{{ competition.name }}</td>
        <td>{{ competition.gameTypeID }}</td>
        <td *ngIf="! competition.winnerID">No winner yet!</td>
        <td *ngIf="competition.winnerID">{{ competition.winnerID }}</td>
        <td>
          <button class="btn btn-info mr-2" routerLink="/edit-competition" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Edit</button>
          <button class="btn btn-danger" (click)="deleteCompetition(competition.competitionID)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
