<div class="container mt-5">
  <h1>Wedstrijd Details</h1>
  <hr>
  <div class="row">
    <p class="col-3 font-weight-bold">Ploeg A:</p>
    <p class="col">{{ groups[teams[game.teamAID - 1].groupID - 1].name }}</p>
  </div>
  <div class="row">
    <p class="col-3 font-weight-bold">Ploeg B:</p>
    <p class="col">{{ groups[teams[game.teamBID - 1].groupID - 1].name }}</p>
  </div>
  <div class="row">
    <p class="col-3 font-weight-bold">Uitdager:</p>
    <p class="col">{{ groups[game.challengedByID - 1].name}}</p>
  </div>
  <div class="row">
    <p class="col-3 font-weight-bold">Score:</p>
    <p class="col">{{ game.scoreTeamA }} - {{ game.scoreTeamB }}</p>
  </div>
  <div class="row">
    <p class="col-3 font-weight-bold">Datum:</p>
    <p class="col">{{ game.date | date }}</p>
  </div>
  <div class="row">
    <p class="col-3 font-weight-bold">Kickertafel:</p>
    <p class="col">{{ tables[game.tableID - 1].tableName }}</p>
  </div>
  <div class="row">
    <p class="col-3 font-weight-bold">Wedstrijd Type:</p>
    <p class="col">{{ gameTypes[game.gameTypeID - 1].name}}</p>
  </div>
  <div class="row">
    <p class="col-3 font-weight-bold">Tournooi:</p>
    <p class="col">{{ tournaments[game.tournamentID - 1].name }}</p>
  </div>
  <div class="row">
    <p class="col-3 font-weight-bold">Wedstrijd Status:</p>
    <p class="col" *ngIf="status[0]">{{ status[game.gameStatusID - 1].name}}</p>
  </div>
  <button *ngIf="game.gameStatusID==1" class="btn btn-primary m-1" (click)="startGame()">
  Starten
  </button>
  <button *ngIf="game.gameStatusID==3" class="btn btn-info m-1" (click)="startGame()">
    Betwisten
  </button>
  <button *ngIf="game.gameStatusID==3" class="btn btn-danger m-1" (click)="startGame()">
    Beëindigen
  </button>
  <button *ngIf="game.gameStatusID==3" class="btn btn-success m-1" (click)="startGame()">
    Score aanpassen
  </button>
  <button *ngIf="game.gameStatusID==3" class="btn btn-primary m-1" (click)="startGame()">
    Score verifiëren
  </button>
  <a (click)="goBack()" class="btn btn-link">Terug</a>
</div>
